
#CDN服务域名(ICON小图标不在本地，需要手工下载)
#domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

#静态资源服务域名
#domain_static = http://127.0.0.1:82
domain_static = 

#上传图片服务域名(端口自己修改哦)
#domain_img = http://127.0.0.1:82/common/download?fileDir=
domain_img = /common/download?fileDir=

#上传文件服务域名
#domain_file = 

#kettle资源库登陆信息
kettle_username=admin
kettle_password=admin

#端口
port = 82

#webapp目录
webapp = webapp

#本项目代码
project_code = KM_LOCALHOST_82

#######################目录配置
#上传临时目录
eova_upload_temp = /tmp/kettle-manager/temp/upload

#静态根目录
static_root = /tmp/kettle-manager/static

#下载绝路对路径文件的允许范围
download_jdlj_pattern = ([A-Z]:)?/tmp/kettle-manager/logs/kettle.*

#进程id文件
pid_file= /tmp/kettle-manager/KM_LOCALHOST_82.pid

#本应用操作的作业视图
job_view_name = v_job