.style-0 {
    empty-cells: show; 
    table-layout: fixed; 
    width: 779pt
}

.style-1 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: italic; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-2 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    width: 1000px; 
    height: 533px
}

